

header
{
    color: #fff;
    height: 35vh;
    width:20vw;
    margin-left:38%;
    text-align:left;
    background-image: url("./sky2.jpg");
    background-attachment:fixed ;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
#date{
    padding-top: 30vh;
    padding-left:1vw;
}
#forms {
    border: 1px solid black;
    width: 20vw;
    margin-left: 38%;
    
}
.container {
    display: block;
    position:relative;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left:0;
    margin-left:10px;
    height: 25px;
    width: 25px;
    border-radius:15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(32, 165, 28);
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    color:#fff;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #form_add{
    
    display: flex;
  }

  #form_add, #form_check{
      margin-top:40px;
      margin-bottom:10px;
  }

  #form_add img{
      width:25px;
      height:25px;
      margin-left:10px;
      margin-right:10px;
  }
  #form_add input{
      height:25px;
      max-width:15vw;
      font-size:22px;
  }
#delete{
    height:25px;
    width:25px;
}
p{
    display: flex;
    justify-content: space-between
}